# ルートディレクトリのtarget
/target/

# すべてのtargetディレクトリ
**/target/

# すべてのコンパイルファイルを無視
**/main

**/*.rs.bk
Cargo.lock
.DS_Store

# Ignore all files and directories in projects/ except for specific projects
/projects/*
!/projects/count/
!/projects/fizzbuzz/
!/projects/hello_world/


# Explicitly ignore target directories in allowed projects
/projects/count/target/
/projects/fizzbuzz/target/
/projects/hello_world/target/